/*
  dotnent-connector.rc -- library version resources
  Copyright (c) 2011 Eric Karge

  dotnet-connector, a small library assisting create c++/.net wrappers
  The authors can be contacted at <eric@struction.de>

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
*/

#include <Windows.h>
#include "version.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     dotnet_connector_VERSION
PRODUCTVERSION  dotnet_connector_VERSION
FILEFLAGS       0x0L
FILESUBTYPE	    0x0L
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN 
  BLOCK "StringFileInfo"  
  BEGIN
    BLOCK "040904B0"
		 BEGIN
		    VALUE "CompanyName",dotnet_connector_VERSIONINFO_COMPANY
		    VALUE "ProductName",dotnet_connector_VERSIONINFO_PACKAGE
		    VALUE "FileDescription",dotnet_connector_VERSIONINFO_TITLE
		    VALUE "FileVersion",dotnet_connector_VERSIONINFO_VERSION
		    VALUE "ProductVersion",dotnet_connector_VERSIONINFO_VERSION
		    VALUE "LegalCopyright",dotnet_connector_VERSIONINFO_COPYRIGHT
		 END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
